@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.landing__header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 64px;
  background: linear-gradient(225deg, #fbfaeecc 0%, #ffffffcc 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #550081;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.landing-header__content {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  height: max-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.landing-header__content i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .landing-header__content h2 {
    font-size: medium;
  }
  .landing-header__content i {
    font-size: 1rem;
  }
}

.landing__header-button {
  display: block;
  min-width: max-content;
  width: max-content;
  height: max-content;
  padding: 0.75rem 1rem;
  background-color: #7400ac;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: medium;
  font-weight: 700;
}

.landing__header-button:hover {
  background-color: #370056;
  cursor: pointer;
}
.landing__container {
  margin-top: 64px;
  background: linear-gradient(135deg, #e29ffd 0%, #a43dd5 40%, #7400ac 100%);
}

.landing-container__content {
  display: flex;
  flex-flow: column;

  width: 100%;
  height: max-content;
  margin: auto;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-content: space-between;
}

.landing-container-content__header {
  display: flex;
  flex-flow: column;
  height: max-content;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.title-color {
  color: #550081;
}

.subtitle-color {
  color: #7400ac;
}

.landing-container-content__header-title {
  width: 70%;
  font-weight: 800;
  font-size: 3.5rem;
  text-shadow: -1px 1px 10px rgba(0, 0, 0, 0.1);
  letter-spacing: -0.025em;
}

.landing-container-content__header-text {
  font-weight: 500;
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .landing-container-content__header {
    width: 100%;
  }
  .landing-container-content__header-title {
    font-weight: 700;
    font-size: 2rem;
  }
  .landing-container-content__header-text {
    font-weight: 500;
    font-size: 1.25rem;
  }
}

.landing-container-content-header__buttons {
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.landing-container-content__header-button {
  display: flex;
  width: max-content;
  height: max-content;
  padding: 0.75rem 1rem;
  background-color: white;
  color: #7400ac;
  border-radius: 0.5rem;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
}

.landing-container-content__header-button:hover {
  background-color: #7400ac;
  color: white;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.landing-container-content__data {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: space-between;
  background: linear-gradient(225deg, #fbfaee 0%, #ffffff 100%);
}

.landing-container-content-data__experience {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: #ffffff66;
  border-radius: 0.5rem;
  box-shadow: -6px 6px 10px -5px rgba(0, 0, 0, 0.25);
  color: #1f2937;
}

.landing-container-content-data__experience-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}

.landing-container-content-data__experience-subtitle {
  text-align: start;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.landing-container-content-data__experience-text {
  text-align: start;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .landing-container-content-data__experience-subtitle {
    font-size: 1.25rem;
  }

  .landing-container-content-data__experience-text {
    font-size: 1.1rem;
  }
}

.landing-container-content-data__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1.75rem 1rem;
  gap: 1rem;
}

@media (max-width: 768px) {
  .landing-container-content-data__items {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 1rem;
  }
}

.landing-container-content-data__items p {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Desplaza el elemento hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posición inicial */
  }
}

.landing-container-content-data__items-item {
  animation: fadeInSlideUp 0.25s ease-out forwards;
  height: 100%;
  opacity: 0; /* Oculto inicialmente */
  position: relative; /* Evita desbordes */
}

.landing-container-content-data__items-item.full-width {
  grid-column: 1 / -1;
}

.landing-container-content-data__items-item.services-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #e29ffd22;
  box-shadow: -6px 6px 5px -5px rgba(0, 0, 0, 0.25);
  color: #550081;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

@media (max-width: 768px) {
  .landing-container-content-data__items-item.services-content {
    font-size: 0.85rem;
  }
}

.landing-container-content__info {
  display: flex;
  flex-flow: column;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: max-content;
  color: white;
}

.landing-container-content__info p {
  text-align: center;
  font-weight: 700;
  font-size: 1.75rem;
}

.landing-container-content-info__data {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 768px) {
  .landing-container-content-info__data {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}

.landing-container-content-info-data__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  width: max-content;
}

.landing-container-content-info-data__container i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.landing-container-content-info-data__container-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: max-content;
}

.landing-container-content-info-data__container-text p {
  font-size: 1rem;
  font-weight: 500;
  color: #ddd;
}

/* ---------------------------------- Estilos para el Modal ---------------------------------- */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo con opacidad */
  backdrop-filter: blur(3px); /* Agrega un efecto de desenfoque */
  -webkit-backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-flow: column;
  background-color: white;

  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 40vw;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra para profundidad */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .modal-content {
    width: 95vw; /* 90% del ancho de la pantalla en móviles */
    max-width: 95vw; /* Asegura que el ancho no se exceda */
  }
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Diseño del Selector */
select,
.checkbox-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s ease;
}

select:hover,
select:focus {
  border-color: #007bff; /* Color de borde al pasar el ratón */
  outline: none; /* Eliminar el borde de enfoque predeterminado */
}

.modal-content__container {
  display: none;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-between;
  gap: 10px;
}

.modal-content__opciones {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 10px;
}

#hairLength,
#hairAmount {
  display: none; /* Ocultos por defecto */
}

.checkbox-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.checkbox-container input[type="checkbox"] {
  accent-color: #007bff; /* Color del check de los checkboxes */
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.2); /* Aumenta ligeramente el tamaño del checkbox */
}

.checkbox-container label {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}

.checkbox-container input[type="checkbox"]:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease; /* Transición para hacer el checkbox más grande al pasar el ratón */
}

.modal__contente-total {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-weight: bold;
}

.modal__contente-total span {
  color: #22c55e; /* Color para el total estimado */
}
