@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.landing__header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: max-content;
  background-color: #4b45bd;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.landing__content {
  display: flex;
  flex-flow: column;
  background-color: #faf5ff;
  width: 100%;
  height: max-content;
  margin: auto;
  padding: 1.5rem 1rem;
  justify-content: center;
  align-content: space-between;
}

.landing-content__header {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: max-content;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.title {
  color: #3730a3;
}

.subtitle {
  color: #4338ca;
}

.landing-content__header-text {
  font-weight: 400;
  font-size: medium;
  color: #374151;
}

.landing-content__header-button {
  display: block;
  min-width: max-content;
  width: 100%;
  height: max-content;
  padding: 0.75rem 1rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: smaller;
  font-weight: 600;
}

.landing-content__header-button:hover {
  background-color: #059669;
  cursor: pointer;
}

.landing-content__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: max-content;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  position: relative; /* Asegura un contexto de posicionamiento */
  overflow: hidden; /* Evita que los elementos salgan del contenedor */
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Desplaza el elemento hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posición inicial */
  }
}

.landing-content__items-item {
  padding: 16px;
  text-align: center;
  animation: fadeInSlideUp 0.25s ease-out forwards;
  height: 100%;
  opacity: 0; /* Oculto inicialmente */
  position: relative; /* Evita desbordes */
}

.landing-content__items-item.full-width {
  grid-column: 1 / -1;
}

.services-content {
  background-color: white;
  color: #4b5563;
  font-weight: 400;
  font-size: smaller;
  border: 1px #ccc solid;
  border-radius: 0.25rem;
}

.full-width {
  grid-column: 1 / -1;
}

.landing-content__info {
  display: flex;
  flex-flow: column;
  padding: 1.5rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: max-content;
  box-shadow: -4px 4px 20px -10px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}

.landing-conten-info__data {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
}

.landing-conten-info-data__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 1.5rem;
  width: max-content;
}

.landing-conten-info-data__container i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  width: 2rem;
  color: #10b981;
}

.landing-conten-info-data__container-text {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
  width: max-content;
}

/* Estilos para el Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo con opacidad */
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-flow: column;
  background-color: white;

  padding: 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 40vw;
  gap: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Añadir sombra para profundidad */
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .modal-content {
    width: 90vw; /* 90% del ancho de la pantalla en móviles */
    max-width: 90vw; /* Asegura que el ancho no se exceda */
  }
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Diseño del Selector */
select,
.checkbox-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

select {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border 0.3s ease;
}

select:hover,
select:focus {
  border-color: #007bff; /* Color de borde al pasar el ratón */
  outline: none; /* Eliminar el borde de enfoque predeterminado */
}

.modal-content__container {
  display: none;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: space-between;
  gap: 10px;
}

.modal-content__opciones {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  gap: 10px;
}

.checkbox-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.checkbox-container input[type="checkbox"] {
  accent-color: #007bff; /* Color del check de los checkboxes */
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.2); /* Aumenta ligeramente el tamaño del checkbox */
}

.checkbox-container label {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}

.checkbox-container input[type="checkbox"]:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease; /* Transición para hacer el checkbox más grande al pasar el ratón */
}

.modal__contente-total {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: bold;
}

.modal__contente-total span {
  color: #22c55e; /* Color para el total estimado */
}
